:root {
    --logo-blue-color: #2196F3;
    --logo-black-color: #000000;
    --logo-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --team-color: #212121;
    --tete-color: #757575;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --bg-hero-color: #2F303A;
    --bg-btn-hero-color: #188CE8;
    --bg-team-color: #F5F4FA;
    --basement-color: rgba(255, 255, 255, 0.6);
}