.btn {
    font-family: inherit;
    @include font(700, 16px, 1.87, 00.06em);
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background: var(--blue-color);
    border-radius: 4px;
    border: 0;
}