body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #E5E5E5;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}